.recentSearch {
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin: 5px 5px 5px 5px;

}

.recentSearchLbl {
    font-size: 15px;
    font-weight: 600;
    color: white;
    text-shadow: 0 0 4px rgba(0,0,0,.25);
}

.recentSearches {
    display: contents;
    margin: 3px 3px 3px 3px;
}

.recentSearchItem{
    display: inline;
    margin: 1px 1px 1px 1px;
}

.recentSearchLink {
    background: none;
    border: none;
    padding: 0;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.searchBox {
    display: flex;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
}

.textInput {
    border: 0;
    border-radius: 2px 0 0 2px;
    outline: none;
    flex-grow: 1;
    font-weight: 600;
    padding: 1em;

}

.categorySelect {
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 0 2px 2px 0;
    white-space: nowrap;
    font-weight: 600;
    padding: 1em;
    width: 20%;
}

.searchButton {
    background-color: #125fca;
    color: #fff;
    cursor: pointer;
    border: 1px solid #125fca;
    border-radius: 0 2px 2px 0;
    white-space: nowrap;
    text-align: center;
    font-weight: 600;
    padding: 1em;
    width: 20%;
}