:root {
  --jet-orange: #ff8000;
  --jet-offwhite: #f8f5f2;
}

body {
  font-family: Takeaway Sans,Avant Garde,Century Gothic,Helvetica,Arial,sans-serif;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}